Repository kaoDev/timelessReactNativeChallenge: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix"],
  "*.{js,jsx,json,css,md}": ["prettier --write"]
}

add asset
  src/assets/Screens/AssetsStack/AssetScreen/AssetScreen.tsx
  src/assets/Screens/AssetsStack/AssetScreen/index.ts
  src/assets/components/AssetDetails/AssetDetails.tsx
  src/assets/components/AssetDetails/index.ts
  src/assets/components/AssetDetails/styles.ts
  src/assets/components/AssetSlider/AssetSlider.tsx
  src/assets/components/AssetSlider/index.ts
  src/assets/components/AssetSlider/styles.ts
Due: eslint --cache --fix

add unit and e2e testing
  .detoxrc.json
  __mocks__/fileMock.js
  assets/textVariants.ts
  e2e.config.json
  e2e/environment.js
  e2e/firstTest.e2e.ts
  ios/timelessReactNativeChallenge.xcodeproj/project.pbxproj
  ios/timelessReactNativeChallenge/Images.xcassets/AppIcon.appiconset/Contents.json
  ios/timelessReactNativeChallenge/Info.plist
  jest.config.ts
  jest/mediaFileTransformer.js
  package.json
  src/assets/api/GetAssets.graphql
  src/assets/components/AssetList/AssetItem/AssetItem.tsx
  src/assets/components/AssetList/AssetItem/__tests__/AssetItem.e2e.ts
  src/assets/components/AssetList/AssetItem/__tests__/AssetItem.test.ts
  src/assets/components/AssetList/AssetList.tsx
  src/assets/components/AssetList/__tests__/AssetList.tsx
  src/assets/components/AssetList/styles.ts
  src/assets/components/AssetMenu/styles.ts
  src/components/Header/Header.tsx
  src/res/testIDs.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

add theme and urql providers
  App.tsx
Due: eslint --cache --fix

add atoms components
  .tool-versions
  ios/.xcode.env.local
  src/components/atoms/Box.tsx
  src/components/atoms/Text.tsx
  src/components/atoms/TouchBox.tsx
  src/components/atoms/index.ts
  yarn.lock
Due: eslint --cache --fix

add react navigation and assetListScreen
  App.tsx
  android/app/src/main/java/com/timelessreactnativechallenge/MainActivity.kt
  ios/Podfile.lock
  package.json
  src/naviagtion/AppNavigation.tsx
  src/naviagtion/RootStack.tsx
  src/naviagtion/index.ts
  src/screens/AssetListScreen.tsx
  src/screens/index.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

dispaly list of assets on app start
  assets/icons/index.ts
  src/components/index.ts
  src/components/molecules/ErrorBox.tsx
  src/components/molecules/LoadingBox.tsx
  src/components/molecules/index.ts
  src/components/organisms/AssetCard.tsx
  src/components/organisms/index.ts
  src/screens/AssetListScreen.tsx
Due: eslint --cache --fix

add asset detail screen
  src/naviagtion/RootStack.tsx
  src/screens/AssetDetailScreen.tsx
  src/screens/AssetListScreen.tsx
  src/screens/index.ts
Due: eslint --cache --fix

add subscriptions to assest notification
  ios/Podfile.lock
  package.json
  src/components/organisms/AssetCard.tsx
  src/screens/AssetListScreen.tsx
  src/utils/AsyncStorageUtil.ts
  src/utils/index.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

use react native fast image
  ios/Podfile.lock
  package.json
  src/components/organisms/AssetCard.tsx
  src/screens/AssetDetailScreen.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Initial Setup
  App.tsx
  ios/Podfile.lock
  ios/timelessReactNativeChallenge.xcodeproj/project.pbxproj
  package-lock.json
  package.json
  src/screens/AssetSelectionScreen.tsx
Due: eslint --cache --fix, prettier --write

Optimize Code
  App.tsx
  src/navigation/DefaultScreenOptions.ts
  src/navigation/RootNavigation.tsx
  src/navigation/Routes.ts
  src/navigation/StackNavigation.tsx
  src/navigation/index.ts
  src/screens/AssetSelectionScreen.tsx
  src/screens/index.ts
Due: eslint --cache --fix

Add loading data flow and optimize code
  App.tsx
  assets/colors.ts
  assets/createTimelessTheme.ts
  assets/spacing.ts
  assets/textVariants.ts
  src/components/Box.tsx
  src/components/Text.tsx
  src/components/index.ts
  src/components/overlays/ActivityIndicatorOverlay.tsx
  src/components/overlays/ActivityIndicatorOverlayStyles.ts
  src/components/overlays/index.ts
  src/screens/AssetSelectionScreen.tsx
  src/screens/AssetSelectionScreenStyles.ts
  src/utils/Constants.ts
  src/utils/Responsive.ts
  src/utils/index.ts
Due: eslint --cache --fix

Add header
  assets/colors.ts
  assets/createTimelessTheme.ts
  assets/textVariants.ts
  src/components/index.ts
  src/components/layouts/Header.tsx
  src/components/layouts/HeaderStyles.ts
  src/components/layouts/index.ts
  src/screens/AssetSelectionScreen.tsx
  src/screens/AssetSelectionScreenStyles.ts
  src/utils/Constants.ts
Due: eslint --cache --fix

Add Asset list flow
  assets/textVariants.ts
  ios/timelessReactNativeChallenge.xcodeproj/project.pbxproj
  package-lock.json
  package.json
  src/components/cards/AssetItemCard.tsx
  src/components/cards/AssetItemCardStyles.ts
  src/components/cards/index.ts
  src/components/index.ts
  src/screens/AssetSelectionScreen.tsx
  src/screens/AssetSelectionScreenStyles.ts
Due: eslint --cache --fix, prettier --write

Initial app setup. BottomTabNavigator and StackNavigator with base screens using react-navigation.
  App.tsx
  android/app/src/main/java/com/timelessreactnativechallenge/MainActivity.kt
  assets/textVariants.ts
  babel.config.js
  package.json
  src/components/box/Box.tsx
  src/components/safeAreaContainer/SafeAreaContainer.tsx
  src/components/text/Text.tsx
  src/navigators/rootStackNavigator/RootStackNavigator.tsx
  src/navigators/stackNavigators/drops.tsx
  src/navigators/stackNavigators/index.ts
  src/navigators/stackNavigators/settings.tsx
  src/navigators/stackNavigators/trading.tsx
  src/navigators/stackNavigators/wallet.tsx
  src/navigators/tabNavigators/bottomTab.tsx
  src/navigators/tabNavigators/index.ts
  src/screens/drops/Drops.tsx
  src/screens/dropsDetail/DropsDetail.tsx
  src/screens/modal/Modal.tsx
  src/screens/settings/Settings.tsx
  src/screens/trading/Trading.tsx
  src/screens/wallet/Wallet.tsx
  src/types/index.ts
  src/types/rootStackParams.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

Drop screen with AssetsList
  src/components/cards/dropsCard/DropsCard.tsx
  src/components/tag/Tag.tsx
  src/screens/drops/Drops.tsx
  src/types/index.ts
Due: eslint --cache --fix

Navigate to Drops Detail screen
  src/components/buttons/circle/Circle.tsx
  src/components/cards/dropsCard/DropsCard.tsx
  src/components/error/Error.tsx
  src/components/loading/Loading.tsx
  src/navigators/stackNavigators/drops.tsx
  src/screens/drops/Drops.tsx
  src/screens/dropsDetail/DropsDetail.tsx
  src/types/index.ts
  src/types/rootStackParams.ts
Due: eslint --cache --fix

Populate Detail screen with data
  src/screens/dropsDetail/DropsDetail.tsx
Due: eslint --cache --fix

Redux statemanagement setup
  App.tsx
  package.json
  src/store/index.ts
  src/store/reducers/index.ts
  src/store/slices/dropsSlice.ts
  yarn.lock
Due: eslint --cache --fix, prettier --write

Handle no data and error flows
  assets/createTimelessTheme.ts
  assets/images/emptyAssets.png
  assets/images/noConnection.png
  assets/textVariants.ts
  src/components/dialogs/ErrorConnectionDialog.tsx
  src/components/dialogs/ErrorConnectionDialogStyles.ts
  src/components/dialogs/MessageDialog.tsx
  src/components/dialogs/MessageDialogStyles.ts
  src/components/dialogs/index.ts
  src/components/index.ts
  src/screens/AssetSelectionScreen.tsx
  src/screens/AssetSelectionScreenStyles.ts
  src/utils/Constants.ts
Due: eslint --cache --fix

Add subscription feature
  assets/createTimelessTheme.ts
  assets/icons/heart.png
  assets/icons/heart_filled.png
  ios/Podfile.lock
  ios/timelessReactNativeChallenge.xcodeproj/project.pbxproj
  package-lock.json
  package.json
  src/components/cards/AssetItemCard.tsx
  src/components/cards/AssetItemCardStyles.ts
  src/utils/AsyncStorageUtils.ts
Due: eslint --cache --fix, prettier --write

Add types list feature
  assets/createTimelessTheme.ts
  src/components/cards/AssetItemCard.tsx
  src/components/cards/AssetItemCardStyles.ts
  src/screens/AssetSelectionScreen.tsx
  src/screens/AssetSelectionScreenStyles.ts
Due: eslint --cache --fix

Integrate asset detail feature
  assets/createTimelessTheme.ts
  assets/icons/back.png
  src/components/cards/AssetItemCard.tsx
  src/navigation/Routes.ts
  src/navigation/StackNavigation.tsx
  src/screens/AssetDetailedScreen.tsx
  src/screens/AssetDetailedScreenStyles.ts
  src/screens/AssetSelectionScreen.tsx
  src/screens/index.ts
  src/utils/Constants.ts
Due: eslint --cache --fix

Add unit testing
  __tests__/ActivityIndicatorOverlay.test.tsx
  __tests__/App.test.tsx
  __tests__/Header.test.tsx
  __tests__/MessageDialog.test.tsx
  ios/timelessReactNativeChallenge.xcodeproj/project.pbxproj
  package-lock.json
  package.json
  src/components/layouts/Header.tsx
  src/components/overlays/ActivityIndicatorOverlay.tsx
Due: eslint --cache --fix, prettier --write

Add share item feature
  src/screens/AssetDetailedScreen.tsx
Due: eslint --cache --fix

Fix empty data issue
  src/screens/AssetSelectionScreen.tsx
Due: eslint --cache --fix

remove xcode.env.local, fix build issue
  .gitignore
  ios/.xcode.env.local
  ios/Podfile.lock
Due: none

Enable eslint, run eslint --fix, adjust basic folder structure
  .eslintrc.js
  graphql/index.ts
  src/assets/icons/bell.png
  src/assets/icons/bell@2x.png
  src/assets/icons/bell@3x.png
  src/assets/icons/bell_filled.png
  src/assets/icons/bell_filled@2x.png
  src/assets/icons/bell_filled@3x.png
  src/assets/icons/share_01.png
  src/assets/icons/share_01@2x.png
  src/assets/icons/share_01@3x.png
  src/assets/icons/share_02.png
  src/assets/icons/share_02@2x.png
  src/assets/icons/share_02@3x.png
  src/graphql/codegen.ts
  src/graphql/fragment-masking.ts
  src/graphql/gql.ts
  src/graphql/graphql.ts
  src/graphql/index.ts
  src/graphql/queries.ts
  src/graphql/urql.tsx
  src/theme/colors.ts
  src/theme/createTimelessTheme.ts
  src/theme/shadows.ts
  src/theme/spacing.ts
  src/theme/textVariants.ts
Due: eslint --cache --fix, prettier --write

Clean up App.tsx
  App.tsx
Due: eslint --cache --fix

Implement AssetsListingScreen
  App.tsx
  src/screens/AssetsListing/index.tsx
Due: eslint --cache --fix

Implement AssetDetails
  images.d.ts
  src/assets/icons/back-arrow.png
  src/assets/icons/back-arrow@2x.png
  src/assets/icons/back-arrow@3x.png
  src/components/InvestmentsHighlights/index.tsx
  src/components/NotificationBadge/index.tsx
  src/screens/AssetDetails/index.tsx
  src/screens/AssetsListing/index.tsx
Due: eslint --cache --fix

Implement persistent state for subscription to notifications of assets
  App.tsx
  ios/Podfile.lock
  package-lock.json
  package.json
  src/components/NotificationBadge/index.tsx
  src/contexts/NotificationSettingsContext/index.tsx
  src/screens/AssetDetails/index.tsx
  src/screens/AssetsListing/index.tsx
Due: eslint --cache --fix, prettier --write

Minor adjustments
  src/components/InvestmentsHighlights/index.tsx
  src/components/NotificationBadge/index.tsx
  src/screens/AssetDetails/index.tsx
  src/screens/AssetsListing/index.tsx
Due: eslint --cache --fix

Minor cleanups
  src/components/CompoundAnnualGrowthRate/index.tsx
  src/components/Error/index.tsx
  src/components/ListingFooter/index.tsx
  src/components/Loading/index.tsx
  src/screens/AssetDetails/index.tsx
  src/screens/AssetsListing/index.tsx
Due: eslint --cache --fix

Improve CompoundAnnualGrowthRate
  src/components/CompoundAnnualGrowthRate/index.tsx
  src/components/Divider/index.tsx
  src/screens/AssetDetails/index.tsx
  src/screens/AssetsListing/index.tsx
  src/utilities/index.ts
Due: eslint --cache --fix

Add tests
  .gitignore
  __tests__/App.test.tsx
  __tests__/mockDetailsData.json
  __tests__/mockListingData.json
  jest.config.js
  src/components/Error/index.tsx
  src/components/Loading/index.tsx
  src/components/NotificationBadge/index.tsx
  src/screens/AssetsListing/index.tsx
Due: eslint --cache --fix, prettier --write

Improve ListingFooter
  src/components/ListingFooter/index.tsx
  src/utilities/index.ts
Due: eslint --cache --fix
